@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");
* {
  font-family: 'Sniglet', cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1c1c1c;
  color: #ececec;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
  color: #ececec;
  margin: 0;
  padding: 0;
}

body span {
  color: #c02e2e;
}

body header {
  padding: 3vw;
}

body header .hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

body header .hero img {
  max-width: 1000px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body header .intro {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (min-width: 1920px) {
  body header .intro {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

body header .intro p {
  font-size: 18px;
}

body .roulette-wheel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

body .roulette-wheel a {
  font-size: 24px;
  color: #c02e2e;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  margin-top: 24px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #1c1c1c;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

body .roulette-wheel a:hover {
  background-color: #363636;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
}

body .roulette-wheel a:hover .show {
  opacity: 1;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
}

body .roulette-wheel a i {
  font-size: 18px;
  opacity: 0;
  padding: 6px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

body .btn-views {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 24px;
}

body .btn-wheel-container {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body .btn-wheel-container .btn-wheel {
  width: 350px;
  -ms-grid-column-align: center;
      justify-self: center;
}

body .btn-wheel-container .btn-wheel i {
  padding: 6px;
}

body .btn-views,
body .btn-wheel-container {
  display: -ms-grid;
  display: grid;
  padding: 3vw;
  padding-bottom: 0;
}

body .btn-views button,
body .btn-wheel-container button {
  width: 180px;
  height: auto;
  padding: 8px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px 2px #1c1c1c;
          box-shadow: 0px 2px 2px 2px #1c1c1c;
  -webkit-transition: 100ms color, 300ms -webkit-box-shadow;
  transition: 100ms color, 300ms -webkit-box-shadow;
  transition: 300ms box-shadow, 100ms color;
  transition: 300ms box-shadow, 100ms color, 300ms -webkit-box-shadow;
}

body .btn-views button:hover,
body .btn-wheel-container button:hover {
  color: #c02e2e;
  -webkit-box-shadow: 0px 2px 2px 3px #c02e2e;
          box-shadow: 0px 2px 2px 3px #c02e2e;
  cursor: pointer;
  -webkit-transition: 100ms color, 100ms -webkit-box-shadow;
  transition: 100ms color, 100ms -webkit-box-shadow;
  transition: 100ms box-shadow, 100ms color;
  transition: 100ms box-shadow, 100ms color, 100ms -webkit-box-shadow;
}

body .btn-views button:focus,
body .btn-wheel-container button:focus {
  border: none;
  outline: none;
}

body .btn-views button i,
body .btn-wheel-container button i {
  padding-right: 8px;
}

body .btn-views .btn-archive,
body .btn-wheel-container .btn-archive {
  justify-self: flex-end;
}

body .btn-views .btn-suggestions,
body .btn-wheel-container .btn-suggestions {
  justify-self: flex-start;
}

body .btn-views .btn-suggestions i,
body .btn-wheel-container .btn-suggestions i {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

body .guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
}

body .games-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

body .games-container .game {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 10px;
}

body .games-container .game a {
  position: absolute;
  width: 100%;
  height: 100%;
}

body .games-container .game img {
  width: 100%;
  height: 100%;
}

body .games-container .game .game-overlay {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 1fr 20px;
      grid-template-rows: auto 1fr 20px;
      grid-template-areas: 'title title' 'description description' 'platforms date';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  border: #c02e2e 2px solid;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

body .games-container .game .game-overlay:hover {
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

body .games-container .game .game-overlay .game-title {
  padding: 0;
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  font-size: 24px;
  font-weight: 500;
}

body .games-container .game .game-overlay .game-desc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: description;
  font-size: 13px;
}

body .games-container .game .game-overlay .platforms {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: platforms;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

body .games-container .game .game-overlay .platforms a {
  font-size: 24px;
  position: relative;
}

body .games-container .game .game-overlay .platforms a:hover {
  color: #c02e2e;
}

body .games-container .game .game-overlay .stream-date {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: date;
  font-size: 20px;
  text-align: right;
}

body footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 2fr;
      grid-template-rows: 3fr 2fr;
  width: 100%;
  background-color: black;
  padding: 20px;
  padding-top: 32px;
  padding-bottom: 12px;
  margin-top: 20px;
}

body footer .socials {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body footer .socials a {
  width: 25%;
  text-align: center;
  color: #ececec;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

body footer .socials a:hover {
  color: #c02e2e;
  -webkit-transition: color 100ms;
  transition: color 100ms;
}

body footer p {
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */