@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

$text-dark: #ececec;
$bg-dark: #1c1c1c;
$selection: darkred;
$accent: #c02e2e;
$page-padding: 3vw;

* {
	font-family: 'Sniglet', cursive;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	background-color: $bg-dark;
	color: $text-dark;
	padding: 0;
	margin: 0;

	a {
		text-decoration: none;
		color: $text-dark;
		margin: 0;
		padding: 0;
	}

	span {
		color: $accent;
	}

	header {
		//padding: $page-padding;

		.hero {
			display: grid;
			grid-template-columns: 1fr;
			justify-items: center;
			background-color: black;
			border-bottom: 4px $text-dark solid;

			img {
				max-width: 960px;
				width: 100%;
			}
		}

		.autumn {
			background-color: #582b33;
		}

		.special {
			display: none;
			text-align: center;
			padding-top: 20px;
			a {
				font-size: 24px;
				color: $text-dark;
				justify-self: center;
				text-align: center;
				margin-top: 24px;
				padding: 8px 16px;
				border-radius: 4px;
				background-color: $accent;
				transition: box-shadow 300ms;

				&:hover {
					box-shadow: 0px 3px 2px 2px $text-dark;
					transition: 100ms box-shadow;
				}

				span {
					color: $text-dark;
				}

				i {
					font-size: 24px;
					padding: 6px;
					//transform: translateY(-1px);
					transition: opacity 300ms;
					&:first-child {
						transform: rotate(-25deg);
					}
					&:last-child {
						transform: rotate(25deg);
					}
				}
			}
		}

		.intro {
			@media screen and (min-width: 768px) {
				padding-left: 10vw;
				padding-right: 10vw;
			}

			@media screen and (min-width: 1920px) {
				padding-left: 20vw;
				padding-right: 20vw;
			}

			p {
				font-size: 18px;
			}
		}
	}

	.roulette-wheel {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		height: 100%;
		padding-bottom: 5px;

		a {
			font-size: 24px;
			color: $accent;
			justify-self: center;
			text-align: center;
			margin-top: 24px;
			padding: 8px 16px;
			border-radius: 4px;
			background-color: $bg-dark;
			transition: background-color 300ms;

			&:hover {
				background-color: lighten($bg-dark, 10%);
				transition: background-color 100ms;
				.show {
					opacity: 1;
					transition: opacity 100ms;
				}
			}

			i {
				font-size: 18px;
				opacity: 0;
				padding: 6px;
				transform: translateY(-2px);
				transition: opacity 300ms;
			}
		}

		p {
			text-align: center;
		}
	}

	.btn-views {
		grid-template-columns: 1fr 1fr;
		gap: 24px;
	}

	.btn-wheel-container {
		grid-template-columns: 1fr;

		.btn-wheel {
			width: 350px;
			justify-self: center;

			i {
				padding: 6px;
			}
		}
	}

	.btn-views,
	.btn-wheel-container {
		display: grid;
		padding: $page-padding;
		padding-bottom: 0;

		button {
			width: 180px;
			height: auto;
			padding: 8px;
			font-size: 18px;
			border: none;
			border-radius: 4px;
			box-shadow: 0px 2px 2px 2px $bg-dark;
			transition: 300ms box-shadow, 100ms color;

			&:hover {
				color: $accent;
				box-shadow: 0px 2px 2px 3px $accent;
				cursor: pointer;
				transition: 100ms box-shadow, 100ms color;
			}

			&:focus {
				border: none;
				outline: none;
			}

			i {
				padding-right: 8px;
			}
		}

		.btn-archive {
			justify-self: flex-end;
		}

		.btn-suggestions {
			justify-self: flex-start;

			i {
				transform: rotate(-15deg);
			}
		}
	}

	.guide {
		display: flex;
		padding: $page-padding;
		justify-content: center;
		font-size: 17px;
	}

	.games-container {
		padding-left: $page-padding;
		padding-right: $page-padding;
		display: flex;
		flex-flow: wrap;
		flex-direction: row;
		justify-content: center;
		align-content: space-around;

		.game {
			position: relative;
			width: 400px;
			height: 200px;
			margin: 10px;

			a {
				position: absolute;
				width: 100%;
				height: 100%;
			}

			img {
				width: 100%;
				height: 100%;
			}

			.game-overlay {
				width: 100%;
				height: 100%;
				display: grid;
				gap: 3px;
				align-items: center;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: auto 1fr 20px;
				grid-template-areas:
					'title title'
					'description description'
					'platforms date';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 8px;
				background-color: rgba(black, 0.75);
				opacity: 0; // CHANGE BACK TO 0
				border: $accent 2px solid;
				transition: opacity 300ms;

				&:hover {
					opacity: 1;
					transition: opacity 300ms;
				}

				.game-title {
					padding: 0;
					margin: 0;
					grid-area: title;
					font-size: 24px;
					font-weight: 500;
				}

				.game-desc {
					grid-area: description;
					font-size: 13px;
				}

				.platforms {
					grid-area: platforms;
					display: grid;
					grid-template-columns: repeat(6, 1fr);
					a {
						font-size: 24px;
						position: relative;

						&:hover {
							color: $accent;
						}
					}
				}

				.stream-date {
					grid-area: date;
					font-size: 20px;
					text-align: right;
				}
			}
		}
	}

	footer {
		display: grid;
		grid-template-rows: 1fr 1fr;
		width: 100%;
		background-color: black;
		padding: 20px;
		padding-top: 32px;
		padding-bottom: 12px;
		margin-top: 20px;

		.socials {
			font-size: 40px;
			width: 75%;
			justify-self: center;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-evenly;

			a {
				width: 25%;
				text-align: center;
				color: $text-dark;
				transition: color 300ms;

				&:hover {
					color: $accent;
					transition: color 100ms;
				}
			}
		}

		p {
			width: 100%;
			text-align: center;

			a {
				width: 25%;
				text-align: center;
				color: $text-dark;
				transition: color 300ms;

				&:hover {
					color: $accent;
					transition: color 100ms;
				}

				i {
					margin-top: 8px;
					font-size: 24px;
				}
			}
		}
	}
}
